<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Game Engine</title>
  </head>
  <body
    class="box-border h-screen w-screen text-white bg-gradient-to-r from-indigo-50 to-indigo-100"
  >
    <main>
      <div class="h-full w-full max-h-full flex flex-col p-4">
        <div
          id="output"
          class="flex-grow rounded bg-gray-900 overflow-y-scroll w-full p-2 mb-2 shadow"
        >
          {{#each initialOutput}}
            <p>{{this}}</p>
          {{/each}}
        </div>
        <input
          id="input"
          type="text"
          class="w-full bg-gray-900 rounded p-2 shadow focus:shadow-xl hover:shadow-lg"
        />
      </div>
    </main>
  </body>
</html>